.team-members {
  display: flex;
  flex-wrap: wrap;
}

.team-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-about h1 {
  font-size: 75px;
  line-height: 5rem;
  letter-spacing: -4px;
  width: 60%;
}

.team-about button {
  text-transform: capitalize;
}

.members {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
}

.member {
  text-align: center;
  margin-bottom: 2rem;
}

.member img {
  width: 100%;
}

.member-info {
  margin-top: 1rem;
}

.member-info h4 {
  font-size: 24px;
}

.member-info p {
  font-size: 18px;
  color: #3c3c3c;
}

.members:nth-child(odd) {
  margin-top: 4rem;
}

.members:nth-child(n + 6) {
  margin-top: 0;
}

.members:nth-child(odd):nth-child(n + 6) {
  margin-top: -5rem;
}

@media (max-width: 1200px) {
  .team-about h1 {
    font-size: 60px;
    line-height: 4rem;
  }
}

@media (max-width: 992px) {
  .team-about {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
  }

  .team-about h1 {
    font-size: 48px;
    width: 100%;
    margin-bottom: 1rem;
    letter-spacing: normal;
  }

  .members {
    margin-top: 0;
  }

  .members:nth-child(odd) {
    margin-top: 0;
  }

  .members:nth-child(odd):nth-child(n + 6) {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .team-about h1 {
    font-size: 36px;
    line-height: 2.5rem;
  }

  .members img {
    max-width: 100%;
  }
}
